@font-face {
  font-family: "Tazugane";
  src: url("../public/fonts/TazuganeGothicStdN-Medium.woff2") format("woff2"),
    url("../public/fonts/TazuganeGothicStdN-Medium.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Tazugane";
  src: url("../public/fonts/TazuganeGothicStdN-Bold.woff2") format("woff2"),
    url("../public/fonts/TazuganeGothicStdN-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
  font-size: 100%;
}

body *::selection {
  color: #ffffff;
  background-color: #cba623;
}

body img {
  object-fit: cover;
  object-position: 50% 50%;
}

body .en {
  letter-spacing: 0;
}
